@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open sans", sans-serif;
}

header {
  padding: 5px 0 15px 5%;
  background-color: #111d3c;
  color: white;
}

.beta-version-banner {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}

main {
  padding: 5px 0 15px 5%;
  background-color: #21325b;
  color: white;
}

.network-error {
  color: red;
}

a {
  color: white;
}

form {
  background-color: #374975;
  width: 70%;
  padding: 20px;
  border-radius: 8px;
}

input[type=text] {
  background-color: white;
  border-radius: 5px;
  border: solid black 1px;
}

label {
  display: inline-block;
  margin-bottom: 15px;
}

.how-it-works-block {
  padding-top: 15px;
  padding-left: 5%;
  background-color: white;
  color: #374975;
}

footer {
  background-color: #21325b;
  color: white;
  padding: 10px 0;
  margin-top: 50px;
}

footer p {
  margin: 0 2% 0 5%;
  display: inline-block;
}

#commit-offers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background: white;
  color: black;
  width: 75%;
}

#commit-offers a {
  color: black;
}

#commit-offers td, #commit-offers th {
  padding: 8px;
  vertical-align: middle;
  text-align: center;
}

#commit-offers tr:nth-child(even){
  background-color: #f1f0f0;
}

#commit-offers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #111d3c;
  color: white;
}