@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open sans", sans-serif;
}

header {
  padding: 5px 0 15px 5%;
  background-color: #111d3c;
  color: white;
}

.beta-version-banner {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}

main {
  padding: 5px 0 15px 5%;
  background-color: #21325b;
  color: white;
}

.network-error {
  color: red;
}

a {
  color: white;
}

form {
  background-color: #374975;
  width: 70%;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: inline-block;
  margin-bottom: 15px;
}

.how-it-works-block {
  padding-top: 15px;
  padding-left: 5%;
  background-color: white;
  color: #374975;
}